In [2]:
import pandas as pd
data = pd.read_csv('admission_data.csv')
data.head(5)

,gre_score,toefl_score,univ_ranking,motiv_letter_strength,recommendation_strength,gpa,research_exp,admit_status
0,337.0,118.0,4.0,4.5,4.5,9.65,yes,1
1,324.0,107.0,4.0,4.0,4.5,8.87,yes,1
2,316.0,104.0,3.0,3.0,3.5,8.00,yes,1
3,322.0,110.0,3.0,3.5,2.5,8.67,yes,1
4,314.0,103.0,2.0,2.0,3.0,8.21,no,0

In [4]:
#find missing value in data
data.isna().sum()

gre_score                  9
toefl_score                8
univ_ranking               7
motiv_letter_strength      2
recommendation_strength    6
gpa                        4
research_exp               0
admit_status               0
dtype: int64

In [7]:
# delete missing value
data = data.dropna()

In [8]:
data.isna().sum()

gre_score                  0
toefl_score                0
univ_ranking               0
motiv_letter_strength      0
recommendation_strength    0
gpa                        0
research_exp               0
admit_status               0
dtype: int64

In [9]:
#find duplicated data
data.duplicated().sum()

5

In [10]:
# delete duplicated data
data = data.drop_duplicates()

In [11]:

data.duplicated().sum()

0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gre_score                464 non-null    float64
 1   toefl_score              464 non-null    float64
 2   univ_ranking             464 non-null    float64
 3   motiv_letter_strength    464 non-null    float64
 4   recommendation_strength  464 non-null    float64
 5   gpa                      464 non-null    float64
 6   research_exp             464 non-null    object
 7   admit_status             464 non-null    int64
dtypes: float64(6), int64(1), object(1)
memory usage: 32.6+ KB